.simplebar-scrollbar:before{
  background-color: #52d48c;
  opacity: 1!important;
}

.simplebar-hover:before{
  background-color: #5abd87;
}

.simplebar-placeholder{
  width: 100%!important;
}

@media (max-width: 430px){
  .MuiDrawer-paper{
    max-width: 290px;
  }
  .MuiDrawer-paper .trades-dialogs__details{
    padding: 25px 0px;
  }
  .trades-card {
    padding-left: 30px;
  }
  .trades-card:before{
    left: 12px;
  }
}
